.canvas {
  width: 100vw;
  height: 80vh;
  background-color: #f6d860;
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Light background color for the pegboard */
  background-image: radial-gradient(#000 1px, transparent 1px); /* Black dots */
  background-size: 20px 20px; /* Size of the grid pattern */
}

.draggableItem {
  width: 200px;
  height: 200px;
  background-color: #f6d860;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  border: 2px solid #3d4451;
  color: #14110f;
  border-radius: 8px;
}
